﻿@using GameShop.ViewModels
@model GamesListViewModel

<h1> All games</h1>
<h3>@Model.currentCategory</h3>
@{
    foreach (var game in Model.getAllGames)
    {
        <div>
            <h2> Game: @game.gameName</h2>
            <p>Price: @game.price.ToString("c")</p>
            <p>Favourite: @game.isFavorite.ToString()</p>
        </div>
    }
}