@using GameShop.ViewModels
@model ShopCartViewModel

<div class="container">
    @foreach(var el in Model.shopCart.list_Items)//to show all existing items in the shop cart
    {
        <div class="alert alert-warning mt-3">
            <b>Game:</b> @el.games.gameName<br />
            <b>Price:</b>@el.games.price.ToString("c")<br />
            <img class="card-img-top img-fluid" src="@el.games.image" alt="@el.games.gameName" style="width: 200px; height: 200px; object-fit: cover;"  />
        </div>
    }
    <hr />
    <a class="btn btn-danger" asp-controller ="Order" asp-action="Checkout"> Pay</a>
</div>

